body {
    background: #222;
    display:flex;
    flex-direction: column;

    font-size: 1.5em;
    font-family: 'Helvetica Neue Condensed', sans-serif;
    height: 99vh;
    overflow-y: hidden;

    color: white;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    background: #eeeef6;
    width:100%;

    padding: 0.7em;
    border-radius: 0.225vh;
    
    flex-shrink: 0;
    box-sizing: border-box; /* Ensures padding/borders don’t cause overflow */
}

a {
    color: black;
    text-decoration: none;
}

#terminal {
    position:relative;
    margin-top: 0.5em;
    width: auto;
    background-color: #101010;
    flex-grow: 1;
    margin-bottom: 0.125em;
    min-height: 0;
}

.main {
    background: #101010;
    flex-grow: 1;
    margin-top: 0.5em;
    margin-bottom: 0.125em;
}

a:hover { font-weight: 700; }

#navbar-items { 
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap when needed */
    gap: 0.2em; /* Controls spacing between links */
    white-space: nowrap; /* Ensures links are not split */
 }

#navbar-items > a { margin-right: 0.3em; }
.current { text-decoration: underline; }

#stats {
    display:flex;
    flex-direction: row;
    text-align: right;
    color: black;
}

#stats > p {
    margin-top: 0.05em;
    margin-bottom: 0.1em;
    margin-left: 0.07em;
}

#stats-memrest {
    margin-right: 0.45em;
}

#stats-cpuperc {
    margin-left:0.02em !important;
}

#nav-right { 
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quick-actions { margin-left: 0.5em; }

#hostname { 
    margin-top: -0.2em;
    margin-bottom: -0.2em;
    margin-right: 0.4em;
    color: black;
}

#message {
    background: #eeeef6;
    margin-top: 0.5em;
    border-radius: 0.225vh;

    display: none;
    flex-direction: row;
    align-items: center;
}

#message > p { text-align: right; color: black; }
#message > h3 { color: orangered; }
#message > button { margin-left: auto; margin-right: 1em; font-size: 0.8em; }
#message > * { margin: 0.5em; }

#footer {
    padding-bottom: 0.125em;
    font-size: 0.85em;
}

/* settings page */

.config-container {
    border: 1px solid #eeeef6;
    padding: 1em;
    position: relative;
    margin-top: 1.5em;
    margin: 1em;
}

.config-container > h3 {
    position: absolute;
    top: 0;
    transform: translateY(-150%);
    background: #101010; /* match page background */
    padding: 0 0.25em;
}