/* summit frontend/css/login.css - styles for login & admin page */

:root {
    --s0: #070707;
    --s1: #101010;
    --s2: #202020;
    --s3: #303030;
    --s4: #404040;
    --error: #ce0000;
}

* {
    font-family: 'Archivo Narrow', sans-serif;
    box-sizing: border-box;
}

body {
    color:white;
    height: 100vh;
    overflow: hidden;
}

form {
    background: var(--s0);
    padding: 1.62vh 2.24vw;

    top: 33.33%;
    left: 33.33%;
    width: 33.33%;
    height: 33.33%;

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

body, h1 { margin: 0; }
h1 { font-size: clamp(1.4em, 5vh, 5em); }
input[type="submit"] { width: 6vw; }

.inline > * { display: inline-block; }
.block { position: absolute; }

#password, #username, #apassword { width: 80%; }
#password { margin-top: 1em; }

p, input {
    font-size: clamp(1em, 2vh, 1.6em);
    border: none;
}

#msg {
    color: var(--error);
    visibility: hidden;
    margin-left: 0.5em;
}

.tl {
    top: 0;
    left: 0;
    width: 33.33%;
    height: 66.66%;
    background: var(--s2);
}
.tr {
    top: 0;
    left: 33.33%;
    width: 67%;
    height: 33.33%;
    background: var(--s3);
}
.bl {
    top: 66.66%;
    left: 0;
    width: 66.66%;
    height: 34%;
    background: var(--s1);
}
.br {
    top: 33.33%;
    left: 66.66%;
    width: 34%;
    height: 67%;
    background: var(--s4);
}