/* summit frontend/css/style.css - main stylesheet */

:root {
    color-scheme: dark;

    --s0: #050606;
    --s1: #0c0d0e;
    --s2: #181a1b;
    --s3: #242729;
    --s4: #303436;
    --s5: #484e51;

    --main-bg: var(--s0);
    --text: #e8e6e3;
    --text-gray: #787673;

    --sidebar-bg: var(--s1);
    --sidebar-text: #e8e6e3;

    --line: var(--s4);
    --msg-error-color: #ff3c3c;

    --font: 'Archivo Narrow';
    --icons-font: 'summit Icons';
}

[data-theme="light"] {
    color-scheme: light;

    --s0: #d5d5d4;
    --s1: #cdcecf;
    --s2: #c2c3c4;
    --s3: #b6b8ba;
    --s4: #abadb0;
    --s5: #94969c;

    --text: #181514;
    --sidebar-text: #181514;
}

    /* the "foundation" of the page */
body {
    background: var(--page-bg);
    color: var(--text);

    display: flex;
    height: 100vh;
    overflow: hidden;
    margin: 0;

    font-size: 1.4em;
    font-family: var(--font), sans-serif;
}

@supports (-moz-appearance: none) {
    select { border-right: none; }
    html, body { scrollbar-color: var(--text) var(--line); } /* also do firefox-specific scrollbars */
}

main {
    background: var(--main-bg);
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding-top: 1em;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: var(--line); }
::-webkit-scrollbar-thumb { background: var(--text); }

    /* generic "ui elements" */
.container {
    border: 0.05em solid var(--line);
    padding: 1em;
    position: relative;
    margin: 0 1em;
}

.container > h3 {
    position: absolute;
    top: 0;
    transform: translateY(-130%);
    background: var(--main-bg);
    padding: 0 0.25em;
}

.container > p {
    margin-top:0;
    margin-bottom:0.2em;
}

header, footer {
    position: sticky;
    padding: 0.5em 1em;
    background: var(--sidebar-bg);
    z-index: 999;
    display: flex;
    align-items: center;
    gap: 0.3em;
}

header > p, footer > p { margin: 0; }
header { top:0; }
footer {
    bottom:0;
    margin-top: auto;
}

hr {
    border: none;
    height: 0.05em;
    background: var(--line);
}

.input-pair {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.separator {
    width: 1px;
    height: 1.1em;
    background: var(--line);
}

    /* inputs */

/* buttons, dropdowns, and text inputs */
button:hover, select:hover, input[type="text"]:hover          { background: var(--s2); }
button:active                                                 { background: var(--s1); }
button:disabled, select:disabled, input[type="text"]:disabled { color: var(--s5); background: var(--s3); }
button, select, input[type="text"] {
    font-size: 0.85em;
    font-family: var(--font), sans-serif;

    background: var(--s3);
    color: var(--text);
    padding: 0.1em 0.5em;
    border: none;

    transition: background 0.07s ease-in-out, color 0.1s ease-in-out;
}

/* text inputs */
input[type="text"] {
    font-size: 0.7em;
    width: 20vw;
}

/* dropdowns. border-right is an extremely terrible hack (i even have to disable it on firefox). LMK if there's a better way */
select {
    font-size: 0.7em;
    padding: 0.1em 0;
    padding-right: 1em;
    padding-left: 0.25em;
    border-right: 0.3em solid transparent;
}

/* checkboxes and color selectors */
input[type="checkbox"]:hover { border-color: var(--s5); }
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 1.5em;

    cursor: pointer;
    border: 2px solid var(--line);

    transition: border-color 0.1s ease-in-out;
}

/* checkboxes */
input[type="checkbox"] {
    width: 1.5em;
    display: grid;
    place-content: center;
}

input[type="checkbox"]:checked::before { transform: scale(1); }
input[type="checkbox"]::before {
    content: "";
    width: 0.9em;
    height: 0.9em;
    transform: scale(0);

    background: var(--text);

    transition: transform 0.07s ease-in-out;
}

/* ranges */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
}

/* range tracks */
input[type="range"]::-webkit-slider-runnable-track {
    height: 0.4em;

    background: var(--s3);
    border-radius: 0;
}

input[type="range"]::-moz-range-track {
    height: 0.4em;

    background: var(--s3);
    border-radius: 0;
}

/* range thumbs */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 0.6em;
    height: 1.3em;
    margin-top: -0.5em;

    background: var(--text);
    transition: background 0.07s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
    width: 0.6em;
    height: 1.3em;
    margin-top: -0.5em;

    border: none;
    border-radius: 0;

    background: var(--text);
    transition: background 0.07s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover { background: var(--text-gray); }
input[type="range"]::-moz-range-thumb:hover { background: var(--text-gray); }

.range-pair { align-items: flex-start; }
.range-wrapper {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: 0.3em;
}

.range-labels {
    display: flex;
    justify-content: space-between;
    font-size: 0.85em;
    padding: 0 2px;
    margin-top: 0.25em;
}

    /* sidebar + layout + hostname + nav items */
#sidebar {
    background: var(--sidebar-bg);
    color: var(--sidebar-text);
    
    min-width: 170px;
    max-width: 170px;

    display: flex;
    flex-direction: column;
}

#sidebar > *:not(#navbar-items), #navbar-items > a { padding: 0 20px; }

/* hostname text */
.hostname { 
    margin-top: 0;
    margin-bottom: 0.3em;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 2em;
}

/* navbar item links */
#navbar-items > a, #quick-actions > a {
    color: var(--filled-container-text);
    text-decoration: none;
}

#quick-actions > a:hover { font-weight: 700; }
#navbar-items > a:hover { background: var(--line); }

/* navbar item group */
#navbar-items { 
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    white-space: nowrap;
    width: 100%;
}

/* ughhhhhh */
.current { background: var(--sidebar-text) !important; color: var(--sidebar-bg) !important; }

    /* the bottom side of the navbar (stats, quick actions, etc) */

#stats { visibility: hidden; }

/* all animated text in stats. TODO: not this. */
.odometer {
    margin-right: -5px;
    margin-bottom: 3px;
}

/* the tiny icons for reboot, shutdown, logout, etc */
#quick-actions { 
    font-family: var(--icons-font);
    font-size: 1.1em;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5em;
}

    /* messages */

/* message box */
#message {
    background: var(--sidebar-bg);

    display: none;
    align-items: center;
}

#message > h3 { color: var(--msg-error-color); }
#message > button { margin-left: auto; margin-right: 1em; font-size: 0.8em; }
#message > * { margin: 0.25em 0.5em; }

    /* page specific shit */

/* the "no entries" message on the logging page */
#logging_no-entries {
    align-self: center;
    margin-top: 30vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#logging_no-entries > * { margin: 0; }

/* event container */
#events-container, .logging_event_list {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.logging_event_list {
    gap: 0.5em;
}

/* logging events */
.logging_event_list > div > .time, .logging_event_list > div > .source { color: var(--text-gray) }
.logging_event_list > div > .source {
    margin-left: auto;
    padding-left: 1em;
}

.logging_event_list > div {
    display: flex;
    flex-wrap: nowrap;
    gap: 1em;
}

.msg {
    flex: 1;
    word-break: break-word;
}

/* storage device container */
.storage_dev-container {
    display: flex;
    padding: 0;
}

.storage_dev-container > table {
    align-self: flex-start;
    flex: 1;
    padding: 0.5em 1em;
}

.storage_dev-container > table td {
    overflow-wrap: anywhere;
    min-width: 50px;
}

.storage_dev-container > h3 {
    margin-left: 1em;
}

.storage_parent-dev {
    margin: -1em 0;
    padding: 1em;
    width: 30%;
    min-width: 100px;
    overflow-wrap: anywhere;
}

.storage_container-divider {
    min-width: 0.05em;
    height: 100%;
    background: var(--line);
}


    /* misc */

.nopadding { padding: 0; }
.spacer { flex: 1; }

.bottom {
    margin-top: auto;
    margin-bottom: 0.5em;
}

.right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

td, th {
    text-align: left;
    vertical-align: top;
}