/* summit frontend/css/style.css - main stylesheet */

:root {
    color-scheme: dark;

    --s0: #050606;
    --s1: #0c0d0e;
    --s2: #181a1b;
    --s3: #242729;
    --s4: #303436;
    --s5: #484e51;

    --a0: #479cff;
    --a1: #99c8ff;

    --main-bg: var(--s0);
    --text: #e8e6e3;

    --sidebar-bg: var(--s1);
    --sidebar-text: #e8e6e3;

    --line: var(--s4);
    --msg-error-color: #ff3c3c;

    --font: 'Archivo Narrow';
    --icons-font: 'summit Icons';
}

[data-theme="light"] {
    color-scheme: light;

    --s0: #d5d5d4;
    --s1: #cdcecf;
    --s2: #c2c3c4;
    --s3: #b6b8ba;
    --s4: #abadb0;
    --s5: #94969c;

    --a0: #0063cc;
    --a1: #479cff;

    --text: #181514;
    --sidebar-text: #181514;
}

    /* very generic shit */
body {
    background: var(--page-bg);
    color: var(--text);

    display: flex;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;

    font-size: 1.5em;
    font-family: var(--font), sans-serif;
}

    /* generic "ui elements" */
.container {
    border: 0.05em solid var(--line);
    padding: 1em;
    position: relative;
    margin: 0 1em;
}

.container > h3 {
    position: absolute;
    top: 0;
    transform: translateY(-130%);
    background: var(--main-bg);
    padding: 0 0.25em;
}

.container > p {
    margin-top:0;
    margin-bottom:0.2em;
}

.sticky-footer {
    position: sticky;
    bottom:0;
    margin-top: auto;
    padding: 0.5em 1em;

    background: var(--main-bg);
    border-top: 0.05em solid var(--line);
}

hr {
    border: none;
    height: 0.05em;
    background: var(--line);
}

    /* inputs */

/* buttons */
button:hover, input[type="submit"]:hover { background: var(--s2); }
button:active, input[type="submit"]:active { background: var(--s1); }
button:disabled, input[type="submit"]:disabled { color: var(--s5); background: var(--s3); }
button, input[type="submit"] {
    font-size: 0.85em;
    font-family: var(--font), sans-serif;

    background: var(--s3);
    color: var(--text);
    padding: 0.1em 0.5em;
    border: none;

    transition: background 0.07s ease-in-out, color 0.07s ease-in-out;
}

/* checkboxes */
input[type="checkbox"]:hover { border-color: var(--s5); }
input[type="checkbox"] {
    appearance: none;
    width: 1.5em;
    height: 1.5em;

    display: grid;
    place-content: center;
    
    cursor: pointer;
    border: 2px solid var(--line);

    transition: border-color 0.1s ease-in-out;
}

input[type="checkbox"]:checked::before { transform: scale(1); }
input[type="checkbox"]::before {
    content: "";
    width: 0.9em;
    height: 0.9em;
    transform: scale(0);

    background: var(--a1);

    transition: transform 0.07s ease-in-out;
}

/* color selectors. i want to find the address of the guy who designed this. */
input[type="color"]::-webkit-color-swatch-wrapper { padding: 0; }
input[type="color"]::-webkit-color-swatch { border: none; }
input[type="color"]::-moz-color-swatch { border: none; }
input[type="color"] {
    appearance: none;
    -webkit-appearance: none;

    width: 3em;
    height: 1.5em;

    border: none;
    padding: 2px;

    cursor: pointer;
    background: transparent;
    border: 2px solid var(--line);
}

/* ranges */
/* WHY, BROWSER GODS */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
}

/* range tracks */
input[type="range"]::-webkit-slider-runnable-track {
    height: 0.4em;

    background: var(--s3);
    border-radius: 0;
}

input[type="range"]::-moz-range-track {
    height: 0.4em;

    background: var(--s3);
    border-radius: 0;
}

/* range thumbs */
input[type="range"]::-webkit-slider-thumb:hover { background: var(--a0); }
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 0.6em;
    height: 1.3em;
    margin-top: -0.5em;

    background: var(--a1);
    transition: background 0.07s ease-in-out;
}

input[type="range"]::-moz-range-thumb:hover { background: var(--a0); }
input[type="range"]::-moz-range-thumb {
    width: 0.6em;
    height: 1.3em;
    margin-top: -0.5em;

    border: none;
    border-radius: 0;

    background: var(--a1);
    transition: background 0.07s ease-in-out;
}


.input-pair {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.range-pair {
    align-items: flex-start;
}

.range-wrapper {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: 0.3em;
}

.range-labels {
    display: flex;
    justify-content: space-between;
    font-size: 0.85em;
    padding: 0 2px;
    margin-top: 0.25em;
}

    /* sidebar + layout + hostname + nav items */
#sidebar {
    background: var(--sidebar-bg);
    color: var(--sidebar-text);
    
    min-width: 170px;
    max-width: 170px;

    display: flex;
    flex-direction: column;
}

#sidebar > *:not(#navbar-items), #navbar-items > a {
    padding: 0 20px;
}

/* hostname text */
.hostname { 
    margin-top: 0;
    margin-bottom: 0.3em;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* navbar item links */
#navbar-items > a, #quick-actions > a {
    color: var(--filled-container-text);
    text-decoration: none;
}

#quick-actions > a:hover { font-weight: 700; }
#navbar-items > a:hover { background: var(--line); }

/* navbar item group */
#navbar-items { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5em;
    white-space: nowrap;
    width: 100%;
}

/* ughhhhhh */
.current { background: var(--sidebar-text) !important; color: var(--sidebar-bg) !important; }

    /* the bottom side of the navbar (stats, quick actions, etc) */

/* all animated text in stats */
/* oh fucking god. TODO: not this. */
.odometer {
    margin-right: -5px;
    margin-bottom: 3px;
}

/* the tiny icons for reboot, shutdown, logout, etc */
#quick-actions { 
    font-family: var(--icons-font);
    font-size: 1.1em;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.separator {
    width: 1px;
    height: 1.1em;
    background: var(--line);
}

    /* messages */

/* message box */
#message {
    background: var(--sidebar-bg);

    display: none;
    align-items: center;
}

#message > h3 { color: var(--msg-error-color); }
#message > button { margin-left: auto; margin-right: 1em; font-size: 0.8em; }
#message > * { margin: 0.25em 0.5em; }

    /* misc */

/* the main part of each page */
.main {
    background: var(--main-bg);
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding-top: 1em;
}

.nopadding {
    padding: 0;
}

.bottom {
    margin-top: auto;
    margin-bottom: 0.5em;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: var(--line); }
::-webkit-scrollbar-thumb { background: var(--text); }