/* summit frontend/css/style.css - main stylesheet */

:root {
    --main-bg: #070707;
    --text: white;

    --sidebar-bg: #101010;
    --sidebar-text: white;

    --line: #404040;
    --msg-error-color: #ce0000;

    --font: 'Archivo Narrow';
    --icons-font: 'summit Icons';
}

    /* very generic shit */
body {
    background: var(--page-bg);
    color: var(--text);

    display: flex;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;

    font-size: 1.5em;
    font-family: var(--font), sans-serif;
}

    /* generic "ui elements" */
.container {
    border: 0.05em solid var(--line);
    padding: 1em;
    position: relative;
    margin: 0 1em;
}

.container > h3 {
    position: absolute;
    top: 0;
    transform: translateY(-130%);
    background: var(--main-bg);
    padding: 0 0.25em;
}

.container > p {
    margin-top:0;
    margin-bottom:0.2em;
}

.sticky-footer {
    position: sticky;
    bottom:0;
    margin-top: auto;
    padding: 0.5em 1em;

    background: var(--main-bg);
    border-top: 0.05em solid var(--line);
}

hr {
    border: none;
    height: 0.05em;
    background: var(--line);
}

    /* inputs */
button {
    font-size: 0.85em;
    font-family: var(--font), sans-serif;
}

.input-pair {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.range-wrapper {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.range-labels {
    display: flex;
    justify-content: space-between;
    font-size: 0.85em;
    padding: 0 2px;
    margin-top: 0.25em;
}

    /* sidebar + layout + hostname + nav items */
#sidebar {
    background: var(--sidebar-bg);
    color: var(--sidebar-text);
    
    min-width: 170px;
    max-width: 170px;

    display: flex;
    flex-direction: column;
}

#sidebar > *:not(#navbar-items), #navbar-items > a {
    padding: 0 20px;
}

/* hostname text */
.hostname { 
    margin-top: 0;
    margin-bottom: 0.3em;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* navbar item links */
#navbar-items > a, #quick-actions > a {
    color: var(--filled-container-text);
    text-decoration: none;
}

#quick-actions > a:hover { font-weight: 700; }
#navbar-items > a:hover { background: var(--line); }

/* navbar item group */
#navbar-items { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5em;
    white-space: nowrap;
    width: 100%;
}

/* ughhhhhh */
.current { background: var(--sidebar-text) !important; color: var(--sidebar-bg) !important; }

    /* the bottom side of the navbar (stats, quick actions, etc) */

/* all animated text in stats */
/* oh fucking god. TODO: not this. */
.odometer {
    margin-right: -5px;
    margin-bottom: 3px;
}

/* the tiny icons for reboot, shutdown, logout, etc */
#quick-actions { 
    font-family: var(--icons-font);
    font-size: 1.1em;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.separator {
    width: 1px;
    height: 1.1em;
    background: var(--line);
}

    /* messages */

/* message box */
#message {
    background: var(--sidebar-bg);

    display: none;
    align-items: center;
}

/* message box */
#message > h3 { color: var(--msg-error-color); }
#message > button { margin-left: auto; margin-right: 1em; font-size: 0.8em; }
#message > * { margin: 0.25em 0.5em; }

    /* misc */

/* the main part of each page */
.main {
    background: var(--main-bg);
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding-top: 1em;
}

.nopadding {
    padding: 0;
}

.bottom {
    margin-top: auto;
    margin-bottom: 0.5em;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: var(--line); }
::-webkit-scrollbar-thumb { background: var(--text); }