:root {
    --page-bg: #222;
    --main-bg: #101010;
    --text: white;

    --filled-container-bg: #eeeef6;
    --filled-container-text: black;
    --radius: 0.225vh;

    --msg-error-color: orangered;

    --font: 'Helvetica Neue Condensed';
}

body {
    background: var(--page-bg);
    color: var(--text);

    display:flex;
    flex-direction: column;
    height: 99vh;
    overflow-y: hidden;
    overflow-x: hidden;

    font-size: 1.5em;
    font-family: var(--font), sans-serif;
}

.filled-container {
    background: var(--filled-container-bg);
    color: var(--filled-container-text);
    border-radius: var(--radius);

    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar { padding: 0.6em; }

#navbar-items > a, #quick-actions > a {
    color: var(--filled-container-text);
    text-decoration: none;
}

a:hover { font-weight: 700; }
.current { text-decoration: underline !important; /* ???????????? */ }

.main {
    background: #101010;
    flex-grow: 1;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    overflow: auto;
}

#navbar-items { 
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    white-space: nowrap;
 }

#stats > span {
    margin-top: -0.3em;
    margin-bottom: 0.1em;
    margin-left: -0.1em;
}

#stats-memrest {
    margin-right: 0.5em;
}

#nav-right { 
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#quick-actions { margin-left: 0.5em; }

.hostname { 
    margin-top: -0.3em;
    margin-bottom: -0.2em;
    margin-right: 0.4em;
}

button {
    font-size: 0.7em;
    font-family: var(--font), sans-serif;
}

#message {
    margin-top: 0.4em;
    display: none;
}
#message > h3 { color: var(--msg-error-color); }
#message > button { margin-left: auto; margin-right: 1em; font-size: 0.8em; }
#message > * { margin: 0.5em; }

/* settings page */

.container {
    border: 1px solid var(--filled-container-bg);
    padding: 1em;
    position: relative;
    margin: 1em;
    margin-bottom: 1.5em;
}

.container > h3 {
    position: absolute;
    top: 0;
    transform: translateY(-150%);
    background: var(--main-bg);
    padding: 0 0.25em;
}

.container > p {
    margin-top:0;
    margin-bottom:0.2em;
}