/* summit frontend/css/typography.css - where fonts are defined */

@font-face {
    font-family: 'Archivo Narrow';
    src: url('../assets/ArchivoNarrow-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Narrow';
    src: url('../assets/ArchivoNarrow-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}