{{define "base"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/typography.css" type="text/css">
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{.Title}}</title>

        <link rel="stylesheet" href="css/lib/odometer-ts.css" />

        <!-- JS_BUNDLE_START -->
        <!-- General JS -->
        <script src="js/main/core.js" defer></script>
        <script src="js/main/helpers.js" defer></script>
        <script src="js/main/ui.js" defer></script>
        <script src="js/main/comm.js" defer></script>

        <!-- General libraries -->
        <script src="js/lib/msgpack.min.js" defer></script>
        <script src="js/lib/odometer.min.js" defer></script>
        <!-- JS_BUNDLE_END -->

        <script>
            window._CONFIG = {{.Config}};
        </script>

        <!-- Page-specific JS/CSS -->
        {{template "head" .}}
    </head>
    <body>
        <div class="filled-container navbar">
            <h1 class="hostname">{{.Hostname}}</h1>
            <div id="navbar-items"></div>
            <div id="nav-right">
                <div id="stats">
                    <span class="odometer" id="stats-memused"></span>
                    <span class="normal" id="stats-memrest">g/g</span>
                    <span class="odometer" id="stats-cpu"></span>
                    <span class="normal" id="stats-cpuperc">%</span>
                </div>

                <div id="quick-actions">
                    <a href="admin.html?operation=reboot">↺</a>
                    <a href="admin.html?operation=poweroff">⏻</a>
                    <a href="/api/logout">⇒</a>
                </div>
            </div>
        </div>

        <div class="filled-container" id="message">
            <h3 id="messageTitle"></h3>
            <p id="messageSubtitle"></p>
            <button id="messageDismiss">x</button>
        </div>

        {{template "main" .}}
    </body>
</html>
{{end}}