{{define "base"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="darkreader-lock">
        <title>{{.Title}}</title>

        <link rel="stylesheet" href="css/typography.css" type="text/css">
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <link rel="stylesheet" href="css/lib/odometer-default.css">

        <!-- JS_BUNDLE_START -->
        <!-- General JS -->
        <script src="js/main/core.js" defer></script>
        <script src="js/main/helpers.js" defer></script>
        <script src="js/main/comm.js" defer></script>
        <script src="js/main/ui.js" defer></script>

        <!-- General libraries -->
        <script src="js/lib/msgpack.min.js" defer></script>
        <script src="js/lib/odometer.min.js" defer></script>
        <!-- JS_BUNDLE_END -->

        <script>
            window._CONFIG = {{.Config}};
        </script>

        <!-- Page-specific JS/CSS -->
        {{template "head" .}}
    </head>
    <body>
        <nav id="sidebar">
            <h1 class="hostname">{{.Hostname}}</h1>
            <section id="navbar-items"></section>
            <section class="bottom">
                <div id="stats">
                    <div>
                        <span class="odometer" id="stats-cpu"></span>
                        <span id="stats-cpuperc">% cpu</span>
                    </div>
                    <div>
                        <span class="odometer" id="stats-memused"></span>
                        <span id="stats-memrest">g/g ram</span>
                    </div>
                </div>

                <div id="quick-actions">
                    <a href="admin.html?operation=reboot">↺</a>
                    <div class="separator"></div>
                    <a href="admin.html?operation=poweroff">⏻</a>
                    <div class="separator"></div>
                    <a href="/api/logout">⇒</a>
                </div>
            </section>
        </nav>

        <div class="right">
            <div id="message">
                <h3 id="messageTitle"></h3>
                <p id="messageSubtitle"></p>
                <button id="messageDismiss">x</button>
            </div>

            {{template "main" .}}
        </div>
    </body>
</html>
{{end}}