{{define "logging"}}
    {{template "base" .}}
{{end}}

{{define "head"}}
<script src="js/page/logging.js" defer></script>
{{end}}

{{define "main"}}
<div class="main nopadding">

    <div class="sticky-header">
        <label for="source" class="label-margin">log source</label>
        <select id="source">
            <option value="all">all</option>
            <option value="test">test</option>
            <option value="test2">test2</option>
        </select>

        <button onclick="_.page.testLogging()">PROTOTYPE: test logging</button>
    </div>

    <div class="container">
        <h3>2025-10-02</h3>
        <div class="logging_e"><span class="logging_e_time">19:01:06</span> <span class="logging_e_msg">abcdefghijklmnopqrstuvwxyzabcdefg</span> <span class="logging_e_source">test</span></div>
        <div class="logging_e"><span class="logging_e_time">19:01:06</span> <span class="logging_e_msg">abcdefghijklmnopqrstuvwxyzabcdefg</span> <span class="logging_e_source">test</span></div>
        <div class="logging_e"><span class="logging_e_time">19:01:06</span> <span class="logging_e_msg">abcdefghijklmnopqrstuvwxyzabcdefg</span> <span class="logging_e_source">test</span></div>
        <div class="logging_e"><span class="logging_e_time">19:01:06</span> <span class="logging_e_msg">abcdefghijklmnopqrstuvwxyzabcdefg</span> <span class="logging_e_source">test</span></div>
    </div>

    <div class="container">
        <h3>2025-10-01</h3>
        <div class="logging_e"><span class="logging_e_time">19:01:06</span> <span class="logging_e_msg">abcdefghijklmnopqrstuvwxyzabcdefg</span> <span class="logging_e_source">test</span></div>
        <div class="logging_e"><span class="logging_e_time">19:01:06</span> <span class="logging_e_msg">abcdefghijklmnopqrstuvwxyzabcdefg</span> <span class="logging_e_source">test</span></div>
        <div class="logging_e"><span class="logging_e_time">19:01:06</span> <span class="logging_e_msg">abcdefghijklmnopqrstuvwxyzabcdefg</span> <span class="logging_e_source">test</span></div>
        <div class="logging_e"><span class="logging_e_time">19:01:06</span> <span class="logging_e_msg">abcdefghijklmnopqrstuvwxyzabcdefg</span> <span class="logging_e_source">test</span></div>
    </div>

    <!-- <div id="logging_no-entries">
        <h1>no entries</h1>
        <p>nothing came back when using that search filter. try something else.</p>
    </div> -->
</div>
{{end}}