{{define "logging"}}
    {{template "base" .}}
{{end}}

{{define "head"}}
<script src="js/page/logging.js" defer></script>
{{end}}

{{define "main"}}
<main class="nopadding">

    <header>
        <label for="source">log source</label>
        <select id="source">
            <option value="all">all</option>
            <option value="test">test</option>
            <option value="test2">test2</option>
        </select>

        <div class="separator_0-2"></div>

        <button onclick="_.page.testLogging()">PROTOTYPE: test logging</button>
    </header>

    <section id="events-container">
        <section class="container logging_event_list">
            <h3>2025-10-02</h3>
            <div><span class="time">19:01:06</span> <span class="msg">abcdefghijklmnopqrstuvwxyzabcdefg</span> <span class="source">test</span></div>
            <div><span class="time">19:01:06</span> <span class="msg">abcdefghijklmnopqrstuvwxyzabcdefg</span> <span class="source">test</span></div>
            <div><span class="time">19:01:06</span> <span class="msg">abcdefghijklmnopqrstuvwxyzabcdefg</span> <span class="source">test</span></div>
            <div><span class="time">19:01:06</span> <span class="msg">abcdefghijklmnopqrstuvwxyzabcdefg</span> <span class="source">test</span></div>
        </section>

        <section class="container logging_event_list">
            <h3>2025-10-01</h3>
            <div><span class="time">19:01:06</span> <span class="msg">abcdefghijklmnopqrstuvwxyzabcdefg</span> <span class="source">test</span></div>
            <div><span class="time">19:01:06</span> <span class="msg">abcdefghijklmnopqrstuvwxyzabcdefg</span> <span class="source">test</span></div>
            <div><span class="time">19:01:06</span> <span class="msg">abcdefghijklmnopqrstuvwxyzabcdefg</span> <span class="source">test</span></div>
            <div><span class="time">19:01:06</span> <span class="msg">abcdefghijklmnopqrstuvwxyzabcdefg</span> <span class="source">test</span></div>
        </section>
    </section>

    <!-- <div id="logging_no-entries">
        <h1>no entries</h1>
        <p>nothing came back when using that search filter. try something else.</p>
    </div> -->
</main>
{{end}}