{{define "settings"}}
    {{template "base" .}}
{{end}}

{{define "head"}}
<script src="js/page/settings.js" defer></script>
{{end}}

{{define "main"}}
<main>
    <section class="container">
        <h3>appearance</h3>
        <div class="input-pair">
            <label for="theme">theme</label>
            <select id="theme" data-key="ui.theme">
                <option value="sync">sync with system</option>
                <option value="dark">dark</option>
                <option value="light">light</option>
            </select>
        </div><hr>

        <div class="input-pair range-pair">
            <label for="sidebarWidth">sidebar width (px)</label>
            <div class="range-wrapper">
                <input type="range" id="sidebarWidth" min="140" max="200" step="10" value="170" data-key="ui.sidebarWidth">
                <div class="range-labels">
                    <span>140</span>
                    <span>170</span>
                    <span>200</span>
                </div>
            </div>
        </div><hr>

        <div class="input-pair">
            <label for="terminalFont">terminal font</label>
            <input type="text" id="terminalFont" data-key="terminal.font">
        </div><hr>

        <div class="input-pair">
            <label for="timeFormat">time format</label>
            <select id="timeFormat" data-key="ui.timeFormat">
                <option value="en-us">12-hour</option>
                <option value="en-uk">24-hour</option>
            </select>
        </div>
    </section>

    <section class="container">
        <h3>behavior</h3>
        <div class="input-pair">
            <label for="odometerStats">animate stats</label>
            <input type="checkbox" id="odometerStats" data-key="ui.odometerStats">
        </div>
    </section>

    <section class="container">
        <h3>about summit</h3>
        <p>{{.BuildString}}</p>
        <button onclick="location.href='https://github.com/winksplorer/summit'">see repository</button>
        <button onclick="location.href='https://github.com/winksplorer/summit/issues/new'">report a bug</button>
    </section>

    <footer>
        <button disabled id="save-button" onclick="_.page.saveSettings()">save changes</button>
    </footer>
</main>
{{end}}