{{define "settings"}}
    {{template "base" .}}
{{end}}

{{define "head"}}
<script src="js/config.js" defer></script>
{{end}}

{{define "main"}}
<div class="main">
    <div class="config-container">
        <h3>appearance</h3>
        <input type="checkbox" id="compactui">
        <label for="compactui">compact navbar</label>

        <input type="checkbox" id="segmentstats">
        <label for="segmentstats">navbar stats in seven segment font</label>
    </div>

    <div class="config-container">
        <h3>about summit</h3>
        <p id="summit-version"></p>
        <button type="button" onclick="location.href='https://github.com/winksplorer/summit'">see repository</button>
        <button type="button" onclick="location.href='https://github.com/winksplorer/summit/issues/new'">report a bug</button>
    </div>
</div>
{{end}}