{{define "settings"}}
    {{template "base" .}}
{{end}}

{{define "head"}}
<script src="js/page/settings.js" defer></script>
{{end}}

{{define "main"}}
<div class="main">
    <div class="container">
        <h3>appearance</h3>
        <div class="input-pair">
            <label for="darkMode">dark mode</label>
            <input type="checkbox" id="darkMode" data-key="ui.darkMode">
        </div>

        <hr>

        <div class="input-pair">
            <label for="sidebarWidth">sidebar width (px)</label>
            <div class="range-wrapper">
                <input type="range" id="sidebarWidth" min="140" max="200" step="10" value="170" data-key="ui.sidebarWidth">
                <div class="range-labels">
                    <span>140</span>
                    <span>170</span>
                    <span>200</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h3>about summit</h3>
        <p>{{.BuildString}}</p>
        <button onclick="location.href='https://github.com/winksplorer/summit'">see repository</button>
        <button onclick="location.href='https://github.com/winksplorer/summit/issues/new'">report a bug</button>
    </div>

    <div class="sticky-footer">
        <button disabled id="save-button" onclick="_.page.saveSettings()">save changes</button>
    </div>
</div>
{{end}}